* {
	font-family: 'Roboto Mono', monospace;
}

div {
	width: 70%;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	text-align: center;
}

h5 {
	font-family: 'Roboto Mono 100', monospace;
}

.top {
	position: absolute;
	top: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	left: 0;
	right: 0;
}