/* Default */

* {
	font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

html {
	width: 100%;
	height: 100%;
}

body {
    background-color: black;
    color: limegreen;
}

div {
	width: 90%;
	margin-top: 50px;
	margin-bottom: 50px;
    border-style: outset;
}

h1 {
	text-align: center;
}

h5 {
	font-family: 'Roboto Mono 100', monospace;
}

p {
    white-space: pre;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a {
    color: limegreen;
    text-decoration: none;
}

ul a:hover {
    color: greenyellow;
}

input[type=text] {
    background: black;
    color: limegreen;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid limegreen;
    width: 97%;
}

input[type=text]:focus {
    outline: none;
    /* border-top: 2px solid limegreen; */
}

/* Classes */

.center {
    text-align: center;
}

.project {
    margin-top: 5px;
    margin-bottom: 5px;
}