doctype html
html
    head
        meta(charset="UTF-8")

        title="Page Missing"
        link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500" rel="stylesheet")

        link(href="404.css" rel="stylesheet")
body
    div#missing_page
        div#missing_tape
        p#missing_title Missing Page

        div#missing_image
            p 404

        p#missing_hystp Have you seen this page?

        div#missing_tickets
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]
            div
                p \#[sysadmin num]